bittensor==9.9.0
bittensor-wallet==4.0.0
websockets==14.2
pybase64==1.4.0
git+https://github.com/404-Repo/spz.git@0.1
aioquic==1.2.0
glicko2==2.1.0
openai==1.97.1
blake3==1.0.5

# Async HTTP for competitive miner task manager
aiohttp==3.11.11

# Logging for competitive miner
loguru==0.7.2

# Image processing for validators
Pillow==10.1.0
